@import './reset';
@import './colors';


:root {
  font-size : 18px;
}

body, #root {
  min-height : 100vh;
}

body {
  font-family      : "iA Writer Mono V", monospace;
  color            : var(--text-0);
  background-color : var(--bg-0);
}

#root {
  display        : flex;
  flex-direction : column;
}
